/* reloge generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole header */
#logo {
    height: 75px;
}

.btn-success {
    height: 21px;
    width: 84px;
    font-size: 12px;
    font-weight: 700;
    padding-left: 10px;
    padding-top: 0px;
}