/* reloge generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole header */
#logo {
    height: 75px;
}

/* pulsanti main stato */
.btn-success {
    height: 21px;
    width: 84px;
    font-size: 12px;
    font-weight: 700;
    padding-left: 10px;
    padding-top: 0px;
}

.btn-warning {
    height: 21px;
    width: 77px;
    font-size: 12px;
    font-weight: 700;
    padding-left: 5px;
    padding-top: 0px;
    color: white;
    padding-right: 2px;
}

.btn-warning:hover {
    color: white;
}

.btn-danger {
    height: 21px;
    width: 106px;
    font-size: 12px;
    font-weight: 700;
    padding-left: 5px;
    padding-top: 0px;
    color: white;
    padding-right: 4px;
}

/* pulsante azioni */
.btn-outline-secondary {
    width: 40px;
    height: 40px;
}


/* problema allineamento */
tr .row {
    margin-right: 0;
}
